<html>
    <head>
        <h4>Welcome Admin</h4>
    </head>
    <body>
        <%= link_to("Subjects", subjects_path) %> <br/>
        <%= link_to("Assignments", assignments_path) %>
    </body>
</html>
