<p id="notice"><%= notice %></p>

<p>
  <strong>Is right:</strong>
  <%= @user_question_an.is_right %>
</p>

<%= link_to 'Edit', edit_user_question_an_path(@user_question_an) %> |
<%= link_to 'Back', user_question_ans_path %>
